body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: radial-gradient(circle farthest-corner at 10% 20%,
            rgba(215, 223, 252, 1) 0%,
            rgba(255, 255, 255, 1) 0%,
            rgba(215, 223, 252, 1) 84%);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.homepage-benefits {
    border: 2px solid rgba(215, 223, 252, 1);
    border-radius: 10px;
    padding: 20px;
}

.card {
    border: 2px solid rgba(215, 223, 252, 1);
    border-radius: 10px;
    padding: 20px;
}

.style-carousel img {
    height: 350px !important;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
}

.main-content-container {
    margin: 20px;
    align-self: center;
    width: 90%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

th,
tr,
td {
    padding: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

/* Styling for all anchor tags */
a {
    border: 2px solid #000000;
    padding: 7px;
    border-radius: 8px;
    height: auto;
    text-decoration: none;
    align-items: center;
    font-family: "Roboto", sans-serif;
    display: inline-flex;
    color: #fff;
    background-image: linear-gradient(94.3deg,
            rgba(26, 33, 64, 1) 10.9%,
            rgba(81, 84, 115, 1) 87.1%);
}

/* Styling for from-inputs tags when hovered */
.form-input-button {
    border: 2px solid #000000;
    padding: 7px;
    border-radius: 8px;
    height: 40px;
    text-decoration: none;
    align-items: center;
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-image: linear-gradient(94.3deg,
            rgba(26, 33, 64, 1) 10.9%,
            rgba(81, 84, 115, 1) 87.1%);
}

#home-button {
    border: 2px solid rgb(200, 212, 253);
    padding: 7px;
    border-radius: 8px;
    height: 40px;
    text-decoration: none;
    align-items: center;
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    color: #000000;
    background-color: rgba(215, 223, 252, 1);
    /* Default background color */
    transition: background-color 0.3s ease;
    /* Smooth transition effect */
    background-image: linear-gradient(94.3deg,
            rgba(215, 223, 252, 1) 0%,
            rgba(255, 255, 255, 1) 0%,
            rgba(215, 223, 252, 1) 84%);
}

.p-styling {
    display: inline-flex;
    align-items: left;
}

.checkbox-icon-homepage {
    font-size: 25px !important;
    color: rgb(62, 235, 157);
}

a:hover,
.form-input-button:hover,
#home-button:hover {
    background-image: radial-gradient(circle 1224px at 10.6% 8.8%,
            rgba(255, 255, 255, 1) 0%,
            rgba(153, 202, 251, 1) 100.2%);
    color: black;
}

.checkbox-icon {
    font-size: 35px;
    color: rgb(62, 235, 157);
    margin-right: 10px;
}

tr.task-row {
    display: flex;
    align-items: center;
}

strong.title-text {
    font-size: 20px;
}

.table-data-row {
    display: flex;
    align-items: center;
}

#id_username,
#id_password,
#id_password1,
#id_password2 {
    padding: 10px;
    margin: 10px 0;
    font-size: larger;
    border: 1px solid #000000;
    border-radius: 10px;
}

#id_title,
#id_description {
    padding: 10px;
    margin: 10px 0;
    font-size: larger;
    font-family: "Roboto", sans-serif;
    border: 1px solid #000000;
    border-radius: 10px;
}

.row-card {
    margin-top: 20px;
}

#id_complete {
    width: 25px;
    height: 25px;
}

.form-body {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Apply styles to all <p> elements inside .form-body */
.form-body p {
    margin-bottom: 10px;
    /* Add some bottom margin for spacing */
}

/* Apply styles to <label> elements inside .form-body */
.form-body label {
    font-weight: bold;
    /* Optionally make labels bold */
}

/* Apply styles to <input> and <textarea> elements inside .form-body */
.form-body input:not(.form-input-button),
.form-body textarea {
    width: 100%;
    /* Make them fill the width of their container */
    box-sizing: border-box;
    /* Include padding and border in width calculation */
    margin-top: 5px;
    /* Add some top margin for spacing */
}

.login-body label {
    font-weight: bold;
    /* Optionally make labels bold */
}

.register-body label {
    font-weight: bold;
    /* Optionally make labels bold */
}

.login-body {
    width: 100%;
    justify-content: center;
}

.login-body input:not(.form-input-button),
.login-body textarea {
    width: 100%;
    /* Make them fill the width of their container */
    box-sizing: border-box;
    /* Include padding and border in width calculation */
    margin-top: 5px;
    /* Add some top margin for spacing */
}

.register-body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-body input:not(.form-input-button),
.register-body textarea {
    width: 100%;
    /* Make them fill the width of their container */
    box-sizing: border-box;
    /* Include padding and border in width calculation */
    margin-top: 5px;
    /* Add some top margin for spacing */
}

/* Apply styling to footer*/

footer {
    text-align: center;
    margin-top: auto;
    padding: 20px;
}