{% if request.user.is_authenticated %}
    {{request.user}}
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>

<h1> This is my todo-list</h1>
<a href="{% url 'create-task' %}">Add a task</a>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in todo_tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task' task.id %}">View task</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit task</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete task</a></td>

    </tr>
    {% empty %}
        <tr>
            <td>No tasks!</td>
        </tr>
    {% endfor %}
</table>